<div class="navbar  navbar-fixed-top">
	<div class="navbar-inner">
    <div class="container">
			<a class="brand">CrowdFunder</a>
      <ul class="nav">
          <li class="<%= "active" if controller_name == "welcome"%>"><%= link_to "Home", root_url%></li>
          <li class="<%= "active" if controller_name == "projects"%>"><%= link_to "Projects", projects_url%></li>
          <li class="<%= "active" if controller_name == "my/projects"%>"><%= link_to "My Projects", my_projects_path%></li>
      </ul>

      <div class="pull-right">
		<% if logged_in? %>
			<%= link_to 'Logout', :session, :method => :delete, class: 'btn' %>
		<% else %>
			<%= link_to 'Sign Up', [:new, :user], class: 'btn btn-primary' %>
			<%= link_to 'Sign In', [:new, :session], class: 'btn btn-success' %>
		<% end %>
	  </div>

    </div>
  </div>
</div>


<!-- "_path" gives relative path and "_url" gives the full URL -->
<!-- A symbol is a relative path, always -->
<!-- When need URL? External communications (email), for example -->